[Unit]
Description=Start WiFi APC Monitor
After=syslog.target network.target remote-fs.target nss-lookup.target
Requires=network.target

[Service]
PIDFile=/var/run/apc.pid
ExecStartPre=airmon-ng start wlan0
ExecStart=wifi-apc start
ExecStop=wifi-apc stop

# Retry
Restart=always
StartLimitInterval=30
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
